// Responsive
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .register {
        // padding: unset;
        .wrapper {
            gap: 30px;
        }

        .heading-content {
            margin-bottom: 40px;

            h2 {
                font-size: 2.4em;
                margin-bottom: unset;
            }

            span {
                font-size: 1em;
            }
        }

        .form-sign {
            label {
                font-size: 1em;
            }

            .text-input {
                font-size: 1.1em;
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .register {
        .wrapper {
            height: 100vh;
            flex-direction: column;
        }

        .form-content {
            max-width: 550px;
            width: 100%;
            background-color: #ffffff;
            box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
            width: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
        }

        .image-content {
            display: none;
        }

        .heading-content {
            h2 {
                font-size: 2.4em;
            }

            span {
                font-size: 1.1em;
            }
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .btn {
        font-size: 0.9em;
        padding: 12px 28px;
    }
    .register {
        .heading-content {
            h2 {
                font-size: 1.7em;
            }

            span {
                font-size: 1em;
            }
        }

        .form-sign {
            .text-input {
                width: 100%;
                font-size: 1em;
            }
        }
    }
}
