@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// SASS Variable
$primary-color: #111f4d;
$secondary-color: #e43a19;
$text-color: #020205;
$bg-color: #f2f4f7;
$white-color: #ffffff;
$blue-color: #0800f0;
$blue-secodary-color: #0505bb;

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $primary-color;
    background-color: $bg-color;
}

section {
    width: 100%;
}

.d-flex {
    display: flex;
}

.container {
    max-width: 1440px;
    padding: 0 30px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

.btn {
    color: $primary-color;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: $white-color;
    padding: 14px 32px;

    &--primary {
        color: $white-color;
        font-weight: 600;
        background-color: $secondary-color;
    }

    &--secondary {
        color: $secondary-color;
        font-weight: 600;
        border: 2px solid $secondary-color;
    }

    &--form {
        justify-content: center;
        gap: 15px;
        align-items: center;
        width: 100%;
        background-color: $white-color;
        box-shadow: 0px 0px 4px rgba(38, 6, 79, 0.1);
        transition: all 0.5s ease;

        &:hover {
            color: $blue-color;
            box-shadow: 4px 8px 4px rgba(38, 6, 79, 0.1);
        }
    }
}

// Register - Login
.register {
    background-color: $white-color;
    padding: 20px 0;
    .wrapper {
        justify-content: center;
        align-items: center;
        gap: 120px;
    }

    .form-content {
        max-width: 423px;
        width: 100%;
    }

    .heading-content {
        margin-bottom: 60px;
        h2 {
            color: $primary-color;
            margin-bottom: 10px;
            font-size: 2.8em;
        }

        span {
            color: $text-color;
            font-size: 1.2em;
        }

        a {
            color: $blue-color;
            text-decoration: none;

            &:hover {
                color: $blue-secodary-color;
                text-decoration: underline;
            }
        }
    }

    .sign-in {
        h2 {
            margin-bottom: unset;
        }
    }

    .text-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .form-item-wrap {
        width: 100%;
    }

    .form-btn-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 58px;
    }

    .form-sign {
        i {
            margin-left: -30px;
            cursor: pointer;
        }

        label {
            font-size: 1.1em;
            font-weight: 400;
        }

        .span-form {
            margin-top: 10px;
            justify-content: flex-end;
            font-size: 0.8em;
            text-align: end;
        }

        .text-input {
            color: $text-color;
            font-size: 1.2em;
            width: 100%;
            height: 40px;
            border: none;
            border-bottom: 1px solid $primary-color;
            padding-left: 8px;
            margin-bottom: 24px;

            &:focus {
                outline: none;
            }
        }

        .password-wrap {
            .text-input {
                margin-bottom: unset;
            }
        }
    }

    .form-check-wrap {
        margin-top: 10px;
        justify-content: space-between;

        .form-check {
            align-items: center;
            gap: 10px;

            .form-check-label {
                color: $text-color;
            }
        }

        .forget-password {
            text-decoration: none;
            color: $text-color;

            &:hover {
                color: $blue-color;
            }
        }
    }

    .image-content {
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
